@import "./src/renderer/Styles/ColorPalette";

.container {
    height: auto;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

.folderContainerTitle {
    background-color: $pane-header-background;
    color: $pane-header-text;


    padding: $padding-small;
    font-size: $font-big;
    border-right: 1px solid $border-separator-background;
}

.folderContainer {
    margin: 0;
    padding: 0;
    width: 100%;

    font-size: $font-medium;
}

.folderItem {
    border-radius: 0;
    width: 100%;
    padding: $padding-small;

    background-color: $pane-items-background;
    color: $pane-items-text;

    cursor: pointer;

    &:hover:not(.folderItemSelected) {
        background-color: $pane-items-background__hovered;
        color: $pane-items-text__hovered;
    }
}

.folderItemSelected {
    background-color: $pane-items-background__selected;
    color: $pane-items-text__selected;

    &:hover {
        background-color: $pane-items-background__selected;
        color: $pane-items-text__selected;
    }
}


.contextMenu {
    background-color: $pane-items-contextmenu-background;
    padding-left: 0;
    padding-right: 0;
}

.contextMenuItems {
    width: 100%;
    padding: $padding-small;

    background-color: $pane-items-contextmenu-items-background;
    color: $pane-items-contextmenu-items-text;

    cursor: pointer;

    &:hover {
        background-color: $pane-items-contextmenu-items-background__hovered;
        color: $pane-items-contextmenu-items-text__hovered;
    }
}
