@import "../../styles/AppTheme";
@import "../../styles/Sizes";

.container {
    background-color: $navbar-background;
    border-bottom: 1px solid $border-separator-background;

    padding: 0 $padding-medium;
    width: 100%;
    height: 100%;
}


