@import "../../../styles/AppTheme";
@import "../../../styles/Sizes";

.container {
    height: auto;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

.folderTitle {
    background-color: $pane-header-background;
    color: $pane-header-text;


    padding: $padding-small;
    font-size: $font-big;
    border-right: 1px solid $border-separator-background;
}
