@import "../../../styles/AppTheme";
@import "../../../styles/Sizes";

.container {
    height: 100%;
    width: 100%;

    overflow: hidden;
}

.folderTitle {
    height: 55px;

    background-color: $pane-header-background;
    color: $pane-header-text;


    padding: $padding-small;

    border-right: 1px solid $border-separator-background;
    border-bottom: 1px solid $border-separator-background;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.folderTitleText {
    font-size: $font-big;
}


