$lowest: #F7F0F5;
$low: #DECBB7;
$medium: #8F857D;
$high: #5C5552;
$highest: #433633;


$font-medium: 1rem;
$font-small: 0.75rem;
$font-big: 1.25rem;

$padding-small: 0.5rem;
$padding-medium: 0.75rem;
$padding-big: 1.0rem;
