@import "../styles/AppTheme";
* {
    box-sizing: border-box;

    transition-duration: 50ms;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;

    background-color: $high;
}
