@import "../AppTheme";
@import "../Sizes";

.normalButton {
    background-color: $low;
    color: $high;

    padding: 0.5rem 0.75rem;
    border: none;

    &:hover {
        background-color: $medium;
        color: $highest;
    }
}

.iconButton{
    background: none;
    border: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 1.4rem;

    border-radius: 50%;

    padding: 0.5rem;
    color: $low;

    transition-duration: 0ms;

    transition: background-color 150ms linear;

    &:hover  {
        color: $highest;
        background-color: $lowest;
    }

    &:active {
        transform: scale(1.05);
    }
}

.iconButtonDark {
    color: $highest;

    &:hover  {
        color: $low;
        background-color: $medium;
    }
}

.iconButtonSmall {
    padding: 0.25rem;
    font-size: 1.2rem;
}


.iconButton:disabled {
    color: gray;


    &:hover  {
        color: gray;
        background-color: initial;
    }

    &:active {
        transform: none;
    }
}


.iconButtonContainer {
    display: flex;
    width: auto;
    height: 100%;

    align-items: center;
    justify-content: center;

    color: $low;
    user-select: none;
    cursor: pointer;

    padding-right: $padding-small;
    transition: color 0ms linear;

    &:hover {
        background-color: $highest;
    }

    &:active {
        transform: scale(1.05);
    }

    span {
        color: $lowest;
        white-space: nowrap;
    }

    .iconButton {
        &:hover {
            color: $low;
            background-color: initial;
        }

        &:active {
            transform: none;
        }
    }
}
