@import "../AppTheme";
@import "../Sizes";

.selectableListContainer {
    margin: 0;
    padding: 0;
    width: 100%;

    list-style: none;
    font-size: $font-medium;

    border-right: 1px solid $border-separator-background;

    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.selectableListItem {
    padding: $padding-small;

    background-color: $pane-items-background;
    color: $pane-items-text;

    cursor: pointer;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
        margin-left: 0.5rem;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover:not(.selectableListItem__selected):not(.selectableListItem__header) {
        background-color: $pane-items-background__hovered;
        color: $pane-items-text__hovered;
    }
}

.selectableListItem__selected {
    background-color: $pane-items-background__selected;
    color: $pane-items-text__selected;
}

.selectableListItem__header {
    background: $high;
    color: $lowest;
}

.scrollable {
    height: calc(100% - 55px);
}
